.styles {
  font-family: 'Star Wars', sans-serif;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 15px;
  height: fit-content;
}